export(QA)
export(calRaster)
export(jointP)
export(oddsRatio)
export(pdRaster)
S3method(plot,QA)
export(qtlRaster)
export(subOrigData)
export(unionP)
import(sp)
import(raster)
import(maptools)
import(rgdal)

importFrom (sp, proj4string)
importFrom (sp, spTransform)
Importfrom (sp, spplot)
Importfrom (raster, crs)
Importfrom (raster, crop)
Importfrom (raster, values)
Importfrom (raster, extract)
Importfrom (raster, stack)

