export(QA)
export(calRaster)
export(jointP)
export(oddsRatio)
export(pdRaster)
S3method(plot,QA)
export(qtlRaster)
export(subOrigData)
export(unionP)
import (maptools)
importFrom (sp, proj4string)
importFrom (sp, spTransform)
importFrom (sp, spplot)
importFrom (sp, plot)
importFrom (raster, crs)
importFrom (raster, crop)
importFrom (raster, plot)
importFrom (raster, values)
importFrom (raster, getValues)
importFrom (raster, setValues)
importFrom (raster, minValue)
importFrom (raster, maxValue)
importFrom (raster, extract)
importFrom (raster, stack)
importFrom (raster, ncell)
importFrom (raster, nlayers)
importFrom (raster, writeRaster)
importFrom (raster, cellStats)
importFrom (raster, overlay)